<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="image-container" src="assets/Screenshot (18).png" alt="" height="45" width="150"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li>
            <div class="stage">
              <button class="btn" (click)="login()">Login</button>
            </div>
          </li>
          <li>
            <div class="stage">
              <button class="btn1" routerLink="signup" style="background-color: rgb(14, 169, 14);">Signup</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('assets/www.cineglaze.co.in.jpg')">
        </div>
              <a routerLink="/signup">
                 <div class="carousel-item" style="background-image: url('assets/www.cineglaze.co.in1.png')"></div>
              </a>
       </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    
  </header>
  <div class="logincontainer">
    <app-login *ngIf="showLoginForm" (submitted)="onLoginSubmitted()"></app-login>
  </div>
    
  <div class="container cinema">
    <div >
      <div >
        <div class="head">
          <h2 class="animate-charcter">Cineglaze: <h4>Redefining Movie-Going Excellence in Kochi</h4></h2>
        </div>
      </div>
      <div >
        <div class="para">
          <p>
            Nestled in the heart of Kochi, Cineglaze stands as a cinematic masterpiece, redefining the art of movie entertainment with its cutting-edge features and luxurious amenities. As a beacon of modernity and innovation in the world of cinema, Cineglaze promises an unparalleled movie-going experience that transcends the ordinary.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <!-- Page Content -->
  