body{
  padding-bottom: 100px;
}

.image-container {
    border-radius: 5px;
    border: 2px solid #007cc7;
    height: 40px;
    margin-top: 0px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
  grid-gap: 50px; /* Adjust the gap between cards */
  justify-content: center; /* Center the grid horizontally */
  align-content: center; /* Center the grid vertically */
}

.btn1 {
  margin-left: 10px;
  margin-top: -2px;
  width: 110px;
  font-size: 18px;
  height: 39px;
  border: none;
  outline: none;
  background: #007cc7;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.btn1::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(
    124deg,
    
    #ffffff,
    #710707,
    #dd00f3
  );
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn1:hover::before {
  opacity: 1;
}


@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.nav-link {
  color: #ffffff; /* Text color */
  text-decoration: none; /* Remove underlines */
  transition: color 0.3s ease-in-out; /* Smooth color transition on hover */
  margin-right: 5px;
}

/* Hover styles */
.nav-link:hover {
  color: #ff5500; /* Change color on hover */
}

/* Active link styles (if needed) */
.nav-link.active {
  color: #ff0000; /* Style for the active link */
}

/* background animation */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */


h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
   color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(255, 255, 255, 0.415);
  margin: 50px 30px;
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 70%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
    color: rgb(255, 255, 255);
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: -15px; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

/* NOW PLAYING STYIING */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* moviedash styling */

.moviedash{
  
  background-color: #000000b6;
  border-radius: 10px;
  width: 95%;
  margin-top: 30px;
  margin-left:35px;
  padding: 25px 50px;
  
}

/* book now */

.book-now-button {
  background: linear-gradient(to bottom, #ff4500, #ff0000); /* Orange-red gradient */
  border: none;
  color: #fff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  cursor: pointer; /* Show a hand cursor on hover */
}

.book-now-button:hover {
  background: linear-gradient(to bottom, #ff0000, #ff4500); /* Reverse gradient on hover */
}

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic');




ul, li {
list-style: none;
}


.container1 {
margin-top: 35px;
height: 100%;
width: 100%;
min-width: 480px;
}

.breadcrumb {
display: flex;
border-radius: 10px;
margin: auto;
text-align: center;
top: 50%;
width: 100%;
height: 40px;
transform: translateY(-50%);
z-index: 1;
justify-content: center;
}


.breadcrumb__item {
height: 100%;
background-color: white;
color: #252525;
font-family: 'Oswald', sans-serif;
border-radius: 7px;
letter-spacing: 1px;
transition: all 0.3s ease;
text-transform: uppercase;
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
font-size: 16px;
transform: skew(-21deg);
box-shadow: 0 2px 5px rgba(0,0,0,0.26);
margin: 5px;
padding: 0 40px;
cursor: pointer;
}


.breadcrumb__item:hover {
background: #020842;
color: #ffffff;
}


.breadcrumb__inner {
display: flex;
flex-direction: column;
margin: auto;
z-index: 2;
transform: skew(21deg);  
}

.breadcrumb__title {
font-size: 16px;
text-overflow: ellipsis;  
overflow: hidden;
white-space: nowrap;  
}


@media all and (max-width: 1000px) {
.breadcrumb {
height: 35px;
}

.breadcrumb__title{
font-size: 11px;
}
.breadcrumb__item {
padding: 0 30px;
}
}

@media all and (max-width: 710px) {
.breadcrumb {
height: 30px;
}
.breadcrumb__item {
padding: 0 20px;
}

}


